@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap'); 
/*thin = 300, regular = 400, medium = 500, semibold = 600, bold = 700*/

:root {
    --font-inter: 'Inter', sans-serif;
}

.gray-dash-top {
    position: absolute;
    width: 100%;
    height: 2px; 
    background-color: rgba(102, 93, 93, 0.81);
    bottom: 85%; 
}

.gray-dash-bottom {
    position: absolute;
    width: 100%;
    height: 2px; 
    background-color: rgba(102, 93, 93, 0.81);
    bottom: 47%; 
}

.container-card {
    display: flex;
    margin: 5em 10em;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.card {
    background-color: rgba(76, 141, 70, 0.71) !important;
    color: rgba(52, 47, 47, 0.86);
    font-family: var(--font-inter) !important;
    font-weight: 600;
    width: 250px;
    height: 120px;
    border-radius: 12px !important;
    box-shadow: 0 8px 6px -6px #888 !important; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

.container-lei-14133 {
    margin: 2em 10em;
    font-family: var(--font-inter) !important;
}

.titulo-lei-14133 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 26px;
    font-weight: 600;
}

.conteudo-lei-14133 {
    font-size: 20px;
    color: #4D4949;
}

button {
    visibility: visible !important;
}

.compras-container {
    font-family: var(--font-inter);
    margin: 4em 0 6em 0;
    padding: 3em;
    background-color: #2B3380;
    color: #FFFFFF;
    align-items: center; 
    justify-content: center; 
    text-align: center;
}

.compras-titulo {
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 1.4em;
}

.compras-valores-container {
    display: flex;
    gap: 100px;
    justify-content: center; 
    text-align: center;
}

.compras-valores-titulo {
    font-weight: 700;
    font-size: 38px;
    margin-top: 1.2em;
}

.compras-valores-paragrafo {
    margin-top: 2em;
}

.fornecedores-orgao-compras-container {
   margin: 2em 6em 10em 6em;
}

.fornecedores-titulo {
    position: relative;
    display: inline-block;
}

.img {
    padding: 2em;
    color: #D9D9D9;
}

.fornecedores-texto-strong {
    font-weight: 500;
}

.fornecedores-texto {
    font-weight: 300;
}



