@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap'); 
/*thin = 300, regular = 400, medium = 500, semibold = 600, bold = 700*/

:root {
    --font-inter: 'Inter', sans-serif;
}
/* 
.gray-dash-top {
    position: absolute;
    width: 80%;
    height: 2px; 
    background-color: rgba(102, 93, 93, 0.81);
    bottom: 85%; 
}

.gray-dash-bottom {
    position: absolute;
    width: 80%;
    height: 2px; 
    background-color: rgba(102, 93, 93, 0.81);
    bottom: 39%; 
} */


.container-lei-14133 {
    margin: 2em 10em;
    font-family: var(--font-inter) !important;
}

.titulo-lei-14133 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 26px;
    font-weight: 600;
}

.conteudo-lei-14133 {
    font-size: 20px;
    color: #4D4949;
}





